<h2>{{event_title}}</h2>
<div class="meetup-info-wrapper">
    <div class="time-and-info">
        <p>Meet up time: {{event_time}}</p>
        <p>Meet up info: {{event_text}}</p>
    </div>
    <div class="location">
        <p>Location: {{event_location}}</p>
    </div>
</div>

<button class="join-event-btn grey-red-btn" data-id="{{id}}">Attending?</button>