<div class="individual-post">

    <div class="post-and-comments">
        <div class="post-text">
            <div class = "username"> <b>{{user.username }}</b> </div> 
            <div class = "post-content">{{post_content}}</div>
        </div>
            <div class="like-and-comments">
                   <div>
                       {{!-- {{#if isLiked}} --}}
                       <i class="far fa-heart liked-btn" data-postid = {{id}}></i><span>{{post.like.length}}Like</span>
                       {{!-- {{/if}} --}}
                   </div> 
                   <div>
                       
                       {{format_date created_at}} | <a href="/post/{{id}}"><span class = "comment-color">{{comments.length}} {{format_plural "comment" comments.length}}</span> </a>
                   </div>
            </div>
        
    </div>
