<div class="individual-post">

    <div class="post-and-comments">
        <div class="post-text">
            <div class = "username"> <b>{{user.username }}</b> </div> 
            <div class = "post-content">{{post_content}}</div>
        </div>
            <div class="like-and-comments">
                   <div>
                       <button id = "like-btn" class = "like-btn" ><i class="far fa-heart"></i></button>
                   </div> 
                   <div>
                       <span>{{post.like.length}}Like</span>
                       {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                   </div>
            </div>
        
    </div>
