<article class="question">
  <div class="user-info text-align-center">
    <a href="/askDevs/questions/{{id}}">{{question_text}}</a></br>
    Created by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="meta">
    <p>{{answers.length}} {{format_plural "answer" answers.length}}</p>
  </div>
</article>