<article class="question">
  <div class="username">
    <a href="/question/{{id}}" target="_blank">{{question_text}}</a>
  </div>
  <div class="meta">
    <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
  </div>
</article>