<article class="question">
  <div class="user-info">
    <a href="/questions/{{id}}" target="_blank">{{question_text}}</a>
  </div>
  <div class="meta">
    <p href="/questions/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</p>
  </div>
</article>